[submodule "jerome_herath_assign_1"]
	path = jerome_herath_assign_1
	url = https://dherath@bitbucket.org/dherath/jerome_herath_assign_1.git

[submodule "jerome_herath_assign_2"]
	path = jerome_herath_assign_2
	url = https://dherath@bitbucket.org/dherath/jerome_herath_assign_2.git

[submodule "jerome_herath_assign_3"]
	path = jerome_herath_assign_3
	url = https://dherath@bitbucket.org/dherath/jerome_herath_assign_3.git

[submodule "jerome_herath_esraa_aldreabi_assing_4"]
	path = jerome_herath_esraa_aldreabi_assing_4
	url = https://dherath@bitbucket.org/dherath/jerome_herath_esraa_aldreabi_assing_4.git
[submodule "esraa_aldreabi_robert_valenti_jerome_herath_assign_5"]
	path = esraa_aldreabi_robert_valenti_jerome_herath_assign_5
	url = https://dherath@bitbucket.org/ealdrea1/esraa_aldreabi_robert_valenti_jerome_herath_assign_5.git
[submodule "jerome_herath_assign_6"]
	path = jerome_herath_assign_6
	url = https://dherath@bitbucket.org/dherath/jerome_herath_assign_6.git
